# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
.env.*

# Virtual environments
venv/
.env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Tmp data & logs & test
temp/
*.log

# Byte-compiled files
*.pyc
